/* Prabhnoor kaur (8980918 */

   
body {
    background-color:hsl(170, 95%, 68%); 
    font-size: 22px;
    height: 20px; 
    width: 350px;
  }

  
  h2 {
    color:#76be0a;
    font: 30px;
  }
  
  